@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .page-container{
        @apply w-[90%] sm:w-full mx-auto container;
    }

    .btn{
        @apply py-1 px-4 rounded-full text-sm text-white font-medium border-2 border-solid transition-colors;
    }

    .btn.alt{
        @apply bg-error-color border-error-color shadow-lg shadow-error-color/50;
    }

    .banner-shadow{
        @apply 
            after:block 
            after:content-['']
            after:absolute 
            after:bottom-0 
            after:left-0 
            after:w-full 
            after:h-[30px] 
            after:bg-gradient-to-b from-transparent to-zinc-900;
    }

    .banner-shadow.searcher{
        @apply after:h-full after:top-0 after:bg-[linear-gradient(transparent_100px,#18181b_200px)];
    }
}

:root{
    --header-size: 4rem;
}

@media screen and (min-width: 640px) {
    :root{
        --header-size: 5rem;
    }
}

.scrolled{
    @apply bg-black/75;
}

@media screen and (min-width: 640px) {
    .scrolled{
        --header-size: 4rem;
    }
}

body > #root{
    display: grid;
    grid-template-rows: auto min-content;
    min-height: 100vh;
    @apply bg-zinc-900;
}

html{
    font-size: 0.8125rem;
}

@media screen and (min-width: 20rem){
    html{
        font-size: calc(0.8125rem + 0.1875 * ((100vw - 20rem) / 61.25));
    }
}

@media screen and (min-width: 81.25rem){
    html{
        font-size: 1rem;
    }
}

.slick-slide:not(:last-of-type) .film-card{
    @apply mr-1;
}

.offcanvas.open{
    @apply opacity-100 pointer-events-auto;
}

.offcanvas.open > nav{
    @apply translate-x-0 transition-transform duration-200;
}

.banner-shadow.searcher{
    background-size: 100%, auto;
}

.details-background{
    @apply bg-cover bg-right-top bg-no-repeat bg-zinc-500 bg-blend-multiply;
}

@media (pointer: fine){
    .btn.hover-effect{
        @apply hover:bg-white hover:text-error-color;
    }
}

@media (pointer: fine){
    .card-text-effect{
        @apply group-hover:text-red-700;
    }
    
    .card-back-effect{
        @apply group-hover:opacity-100;
    }
}

.loader-animation{
    @apply 
        w-2 
        h-2 
        rounded-full 
        absolute 
        top-0 
        left-0 
        bg-white
        shadow-md 
        shadow-white/30
        scale-0
        animate-route-loader;
        animation-delay: calc(.08s * var(--num));
}

.slide-text{
    @apply -translate-y-10 opacity-0;
}

.slide-text-animate{
    @apply translate-y-0 opacity-100 transition-[transform,opacity] delay-150 md:delay-500 duration-500;
}